@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.fira-sans-normal {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.fw{
    max-width: 1280px;
    margin: 0 auto;
}
.full-bg{
    background-color: #f5f5f5;
}
.display-flex{
    display: flex;
}
.primary-title{
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: 700;
}
.primary-des{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.primary-btn{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;

}
/* Header Styles */

/* Navbar Styles */
.nav{
    justify-content: space-between;
    align-items: center;
}
.nav h2{
    font-size: 32px;
    font-weight: 700;
}
.nav button{
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 106, 80, 1);
    background-color: transparent;
    padding: 15px 30px;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
}

/* Banner Styles */
.banner{
    margin-top: 50px;
    border-radius: 24px;
    padding: 80px 60px;
    background-color: rgba(198, 228, 214, 1);;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 620px;
}
.banner-content h3{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}
.banner-content h1{
    font-size: 56px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 24px;
}
.banner-img img{
    width: 100%;
}

/* Main Styles */
main > section{
    margin-top: 100px;
}

/* Pillars of Bangladesh 2.0 Styles */
.pillars-of-bd h2{
    margin-bottom: 32px;
}
.pillar-cards .p-card{
    max-width: 300px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
}
.pillar-cards{
    gap: 24px;
}
.pillar-cards .p-card h5{
    font-size: 16px;
    font-weight: 700;
}
.pillar-cards .p-card img{
    margin-bottom: 24px;
}
.pillar-cards .p-card h5{
    margin-top: 0;
    margin-bottom: 12px;
}
.pillar-cards .p-card p{
    margin: 0;
}

/* The Vision of Future Styles */
.vision-of-future h2{
    margin-bottom: 32px;
}
.vision-of-future > p{
    margin-top: 0;
    margin-bottom: 32px;
}
.vision-cards{
    align-items: center;
    gap: 24px;
}
.v-card{
    width: 400px;
    height: 300px;
    padding: 32px;
    border-radius: 16px;
}
.blue-card{
    background-color: rgba(84, 144, 245, 0.2);
}
.green-card{
    background-color: rgba(198, 228, 214, 1);
}
.yellow-card{
    background-color: rgba(247, 235, 207, 1);
}
.vision-cards .v-card h5{
    font-size: 16px;
    font-weight: 700;
}
.vision-cards .v-card img{
    margin-bottom: 32px;
}
.vision-cards .v-card h5{
    margin-top: 0;
    margin-bottom: 12px;
}
.vision-cards .v-card p{
    margin-top: 0;
    margin-bottom: 60px;
}
.v-card button{
    border: 0;
    border-radius: 8px;
    padding: 11px 20px 11px 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
}
.blue-card button{
    background-color: #5490F5;
}
.green-card button{
    background-color: #09A15C;
}
.yellow-card button{
    background-color: #FFC239;
}
.yunus-card{
    background-image: url(../assets/images/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 33px;
    margin-top: 32px;
    padding: 48px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
}
.y-des{
    margin-bottom: 12px;
}
.y-name{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}
.y-title{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
}

/* Your Opinion Styles */
.opinion h2{
    margin-bottom: 24px;
}

.opinion-box{
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background-color: rgba(198, 228, 214, 1);
}

th, td{
    padding: 24px;
    text-align: left;
}
td{
    border: 1px solid rgba(14, 14, 14, 0.15)
}
th:last-child, td:last-child{
    text-align: center;
}
select{
    font-size: 16px;
    font-weight: 600;
    color: rgba(14, 14, 14, 1);
    padding: 12px;
    border: 1px solid rgba(14, 14, 14, 1);
    border-radius: 4px;
    background: rgba(198, 228, 214, 1);
    cursor: pointer;
}

/* Recent News Styles */
.n-card{
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    padding: 48px;
    gap: 32px;
    margin-bottom: 25px;
}
.recent-news .n-title{
    margin-bottom: 24px;
}
.recent-news .n-des{
    margin-top: 0;
    margin-bottom: 32px;
}
.n-content h4{
    font-size: 32px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 12px;
}
.n-content img{
    margin-top: 0;
    margin-bottom: 12px;
}
.date-time{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 12px;
    margin-right: 10px;
}
.n-p{
    margin-top: 0;
    margin-bottom: 32px;
}
.n-card .n-img img{
    border-radius: 24px;
}

/* Donate Today Styles */
.donate-today .dt-title{
    text-align: center;
}
.donate-today .dt-des{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 32px;
}
.donate-cards{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.d-card{
    font-size: 30px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    padding: 10px 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
}
.d-card-2{
    background-color: rgba(198, 228, 214, 1);
}
.dt-form input[type="text"]{
    display: block;
    max-width: 1032px;
    width: 100%;
    height: 64px;
    border: 0;
    border-radius: 10px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background-color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    margin-bottom: 32px;
}
.dt-form input::placeholder{
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0px 20px 0px;
    text-align: center;
}
.dt-form input:focus{ 
    text-align: center; 
}
.dt-form input[type="submit"]{
    display: block;
    margin: 0 auto;
}

/* Subscribe Newsletter Styles */
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background-color: rgba(198, 228, 214, 1);
    padding: 80px 100px;
}
.newsletter .nl-title{
    margin-bottom: 12px;
}
.newsletter .nl-des{
    text-align: center;
    max-width: 622px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 24px;
}
.newsletter .nl-des-2{
    margin-top: 24px;
}
.nl-form{
    display: flex;
}
.nl-form input[type="email"]{
    width: 600px;
    height: 55px;
    border: 0;
    border-radius: 8px 0px 0px 8px;
    background-color: #FFFFFF;
}
.nl-form input::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.3);
    text-align: center;
}
.nl-form input:focus{ 
    text-align: center; 
}
.nl-form input[type="submit"]{
    width: 150px;
    height: 56px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border: 0;
    border-radius: 0px 8px 8px 0px;
    background-color: #006A50;
}










/* Small Device Responsive */
@media screen and (max-width: 576px) {
    .nav, .banner, .pillar-cards, .vision-cards, .n-card{
        flex-direction: column;
        padding: 10px;
    }
    .banner{
        gap: 50px;
    }
    .pillars-of-bd{
        padding: 10px;
    }
    .pillars-of-bd h2, .vision-title, .vision-des, .opinion-title, .n-title, .n-des, .dt-des, .nl-title, .nl-des, .nl-des-2{
        text-align: center;
    }
    .pillar-cards{
        align-items: center;
    }
    .v-card{
        width: auto;
        height: auto;
    }
    .vision-cards .v-card p{
        margin-bottom: 30px;
    }
    .opinion-box, td:first-child{
        padding: 10px;
    }
    .n-card .n-img img{
        width: 100%
    }
    .n-card .n-content button{
        margin-bottom: 20px;
    }
    .n-card-2{
        flex-direction: column-reverse;
    }
    .d-card{
        text-align: center;
        padding: 10px;
    }
    .donate-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    .dt-form input[type="text"]{
        width: 100%;
    }
    .nl-des{
        width: 100%;
    }
    .nl-form input[type="email"]{
        width: 225px;
        height: 50px;
    }
    .nl-form input[type="submit"]{
        width: 100px;
        height: 50px;
    }
}

/* Medium Device Responsive */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .banner, .n-card{
        flex-direction: column;
        gap: 50px;
    }
    .pillars-of-bd h2, .vision-title, .vision-des, .opinion-title, .n-title, .n-des{
        text-align: center;
    }
    .pillar-cards, .vision-cards, .donate-cards{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
    }
    .vision-des, .n-des{
        max-width: 600px;
        margin: 0 auto;
    }
    .vision-cards .yellow-card:nth-child(3){
        grid-column: 1/-1;
        justify-self: center;
    }
    .v-card{
        width: auto;
        height: auto;
    }
    .n-img img{
        width: 100%;
    }
    .n-card-2{
        flex-direction: column-reverse;
    }
    .d-card{
        text-align: center;
    }
    .donate-cards{
        gap: 50px;
    }
    .dt-form input[type="text"]{
        width: 100%;
    }
    
}