@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.fira-sans-normal {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.fw{
    max-width: 1280px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.primary-des{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.primary-btn{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;

}
/* Header Styles */

/* Navbar Styles */
.nav{
    justify-content: space-between;
    align-items: center;
}
.nav h2{
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
}
.nav button{
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 106, 80, 1);
    background-color: transparent;
    padding: 15px 30px;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
}

/* Banner Styles */
.banner{
    margin-top: 50px;
    border-radius: 24px;
    padding: 80px 60px;
    background-color: rgba(198, 228, 214, 1);;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 620px;
}
.banner-content h3{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}
.banner-content h1{
    font-size: 56px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    margin-top: 0;
    margin-bottom: 24px;
}
.banner-img img{
    width: 100%;
}





/* Small Device Responsive */
@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column;
        padding: 10px;
        gap: 50px;
    }
}

/* Medium Device Responsive */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .banner{
        flex-direction: column;
        gap: 50px;
    }
}