@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.fira-sans-normal {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.fw{
    max-width: 1280px;
    margin: 0 auto;
}
.full-bg{
    background-color: #f5f5f5;
}
.display-flex{
    display: flex;
}
.primary-title{
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: 700;
}
.primary-des{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.primary-btn{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;

}
/* Header Styles */

/* Navbar Styles */
.nav{
    justify-content: space-between;
    align-items: center;
}
.nav h2{
    font-size: 32px;
    font-weight: 700;
}
.nav button{
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 106, 80, 1);
    background-color: transparent;
    padding: 15px 30px;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
}

/* Banner Styles */
.banner{
    margin-top: 50px;
    border-radius: 24px;
    padding: 80px 60px;
    background-color: rgba(198, 228, 214, 1);;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 620px;
}
.banner-content h3{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}
.banner-content h1{
    font-size: 56px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 24px;
}
.banner-img img{
    width: 100%;
}

/* Main Styles */
main > section{
    margin-top: 100px;
}

/* Pillars of Bangladesh 2.0 Styles */
.pillars-of-bd h2{
    margin-bottom: 32px;
}
.pillar-cards .p-card{
    max-width: 300px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
}
.pillar-cards{
    gap: 24px;
}
.pillar-cards .p-card h5{
    font-size: 16px;
    font-weight: 700;
}
.pillar-cards .p-card img{
    margin-bottom: 24px;
}
.pillar-cards .p-card h5{
    margin-top: 0;
    margin-bottom: 12px;
}
.pillar-cards .p-card p{
    margin: 0;
}

/* The Vision of Future Styles */
.vision-of-future h2{
    margin-bottom: 32px;
}
.vision-of-future > p{
    margin-top: 0;
    margin-bottom: 32px;
}
.vision-cards{
    align-items: center;
    gap: 24px;
}
.v-card{
    width: 400px;
    height: 300px;
    padding: 32px;
    border-radius: 16px;
}
.blue-card{
    background-color: rgba(84, 144, 245, 0.2);
}
.green-card{
    background-color: rgba(198, 228, 214, 1);
}
.yellow-card{
    background-color: rgba(247, 235, 207, 1);
}
.vision-cards .v-card h5{
    font-size: 16px;
    font-weight: 700;
}
.vision-cards .v-card img{
    margin-bottom: 32px;
}
.vision-cards .v-card h5{
    margin-top: 0;
    margin-bottom: 12px;
}
.vision-cards .v-card p{
    margin-top: 0;
    margin-bottom: 60px;
}
.v-card button{
    border: 0;
    border-radius: 8px;
    padding: 11px 20px 11px 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
}
.blue-card button{
    background-color: #5490F5;
}
.green-card button{
    background-color: #09A15C;
}
.yellow-card button{
    background-color: #FFC239;
}
.yunus-card{
    background-image: url(../assets/images/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 33px;
    margin-top: 32px;
    padding: 48px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
}
.y-des{
    margin-bottom: 12px;
}
.y-name{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}
.y-title{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
}




/* Small Device Responsive */
@media screen and (max-width: 576px) {
    .nav, .banner, .pillar-cards, .vision-cards{
        flex-direction: column;
        padding: 10px;
    }
    .banner{
        gap: 50px;
    }
    .pillars-of-bd{
        padding: 10px;
    }
    .pillars-of-bd h2, .vision-title, .vision-des {
        text-align: center;
    }
    .pillar-cards{
        align-items: center;
    }
    .v-card{
        width: auto;
        height: auto;
    }
    .vision-cards .v-card p{
        margin-bottom: 30px;
    }
}

/* Medium Device Responsive */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .banner{
        flex-direction: column;
        gap: 50px;
    }
    .pillars-of-bd h2, .vision-title, .vision-des{
        text-align: center;
    }
    .pillar-cards, .vision-cards{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
    }
    .vision-des{
        max-width: 600px;
        margin: 0 auto;
    }
    .vision-cards .yellow-card:nth-child(3){
        grid-column: 1/-1;
        justify-self: center;
    }
    .v-card{
        width: auto;
        height: auto;
    }
}